<!DOCTYPE html>
<html>
<head>
	<title>Using Local Storage</title>
	<script type="text/javascript" src="../Scripts/jquery-1.7.2.js"></script>
	<script type="text/javascript" src="../Javascript/storage.js"></script>
	<script type="text/javascript" src="../Javascript/localStorage.js"></script>
	
</head>
<body>
	<h2>Settings</h2>
	<br/>
	<label for="NameTextBox">Name: </label><input type="text" id="NameTextBox"/>
	<br />
	<button id="SubmitButton">Store</button>&nbsp;&nbsp;
	<button id="ClearButton">Clear</button>
	<br/>
	<span id="OutputSpan"></span>
	<br/>
</body>
</html>
